.result {
    height: 130px;
    background-color: #1f1c80;
    width: 100%;
    border-radius: 10px;
  }
  .App-header {
    background-image: linear-gradient(to right, rgb(23, 249, 249) , rgb(97, 255, 181));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  
  .result p {
    font-size: 40px;
    margin: 5px;
  
  }
  
  .calculator-body {
    max-width: 300px;
    margin: auto;
    border-radius: 20px;
  }
  
  .button {
    display: block;
    background-color: #080808;
  }
  
  button {
    background-color: #080808;
    color:white;
    width: 25%;
    height: 60px;
    font-size: 30px;
  }
  